<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div>
            {% for video in videos %}
            <div class="card" style="width: 18rem; margin: 20px">
                <div class="card-body">
                  <h5 class="card-title">{{video.name}}</h5>
                  <hr>
                  <p class="card-text">Длительность - {{video.duration}}</p>
                  <p class="card-text">{{video.count_likes}} 👍</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>